version: '3'

services:
  web:
    build: .docker
    ports:
      - 80:80
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=databasedefault
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes

volumes:
  db_data:
